/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics */

h1 {
  display: inline;
  font-size: 2.5rem;
  vertical-align: middle;
  line-height: 70px;
  color: #000;
}

h3 {
  font-weight: 800;
}

i {
  margin-right: 10px;
}

p {
  display: inline;
  font-weight: 600;
}

body {
  background-color: rgb(246, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  letter-spacing: -.5px;
}

section {
  margin: 30px 0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.buttons {
  margin: 40px 40px;
  height: 50px;
}

#page-header {
  background-color: #fff;
  height: 70px;
}

main {
  background-color: #fff;
  width: 40%;
  height: 580px;
  margin: 40px auto 20px;
  border-radius: 5px;
}

#main-header {
  height: 50px;
  border-bottom: 2px solid rgb(246, 246, 246);
}

#logo {
  vertical-align: middle;
  margin-left: 20px;
}

/* Utilities */

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  text-align: center;
  font-size: 0.7rem;
  margin-right: 8px;
}

.check {
  color: rgb(108, 196, 175);
  border: 1px rgb(108, 196, 175) solid;
}

.cross {
  color: rgb(234, 66, 55);
  border: 1px rgb(234, 66, 55) solid;
  line-height: 16px;
  font-size: 0.6rem;
}

.btn {
  padding: 6px 12px;
  background-color: rgb(71, 173, 241);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 0.7rem;
}

#section-btn {
  background-color: #fff;
  color: rgb(198, 204, 209);
  border: 1px solid rgb(198, 204, 209);
  margin-left: 5px;
}

.label {
  font-size: 0.6rem;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 6px 10px;
  border-radius: 10px;
  font-weight: normal;
  margin-left: 3px;
}

.tasks {
  margin: 12px 0 20px;
}

.editorial {
  background: rgb(71, 173, 241);
}

.goals {
  background-color: rgb(156, 114, 228);
}
.recruiting {
  background-color: rgb(100, 192, 169);
}

.mobile {
  background-color: rgb(242, 158, 51);
}
.website {
  background-color: rgb(216, 99, 161);
}
.sales {
  background-color: rgb(176, 201, 38);
}
